body{
  background-color: blueviolet;
}

.navbar {
  display: flex;
  background-color: aqua;
  box-sizing: border-box;
  width: 2000px;
  height: 80px;
  font-size: larger;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 100px;
}


input{
  background-color: rgb(196, 218, 255);
  height: 20px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-top: 25px;
}






[

